body {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*   background-color: green; */
  background-image: linear-gradient(
    to right,
    lightgreen,
    darkgreen,
    lightgreen
  );
  color: ghostwhite;
}

#clock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#app-title {
  text-align: center;
}

.length-buttons {
  display: flex;
  justify-content: space-between;
}

#break-wrapper {
  display: flex;
  flex-direction: column;
}

.up-down-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  height: auto;
  width: 25px;
  text-align: center;
  font-size: 1em;
}

#timer-label {
  font-size: 2em;
  margin: 0;
  margin-top: 15px;
}

#time-left {
  font-size: 4em;
  margin: 0;
}

#timer-flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

button {
  box-shadow: 3px 3px 5px #000000;
}

#controls button {
  margin: 5px;
}
